body {
	font-size: var(--fz-400);
	font-family: var(--ff-primary);
	font-weight: var(--fw-400);
	background-color: var(--clr-primary-200);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-block: 2.8rem;
	min-height: 100vh;
}

h1,
h2,
h3 {
	font-family: var(--ff-accent);
	line-height: 1.1;
	color: var(--clr-neutral-700);
}
