$breakpoints: (
	small: 38em,
	medium: 50em,
);

$colors: (
	primary: (
		200: hsl(30 38% 92%),
		400: hsl(158 36% 37%),
		700: hsl(156 42% 18%),
	),
	neutral: (
		100: hsl(0 0% 100%),
		500: hsl(228 12% 48%),
		700: hsl(212 21% 14%),
	),
);

$font-sizes: (
	small: (
		300: 1.2rem,
		400: 1.4rem,
		700: 3.2rem,
	),
);

$font-weights: (
	400: 500,
	700: 700,
);

$border-radius: (
	300: 1rem,
);
